<h1>CD-Demo</h1>

<p>With this tiny demo app you can manage and search cd data through a web service.</p>

<%= render :partial => "search_results/form" %>

<p><%= link_to "Manage albums", albums_path %></p>
